#audio-custom {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 270px;
	height: 40px;
}

.btn-audio {
	font-size: 10px;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}