<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/js/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/mycss/loginStyle.css" rel="stylesheet" type="text/css"/>
<link href="/css/mycss/commonStyle.css" rel="stylesheet" type="text/css"/>
<link href="/css/mycss/audioStyle.css" rel="stylesheet" type="text/css"/>
<body>
	<embed src="/common/bodydiv.html" class="bodydiv"></embed>
	<embed src="/common/audio.html" id="audio-iframe"></embed>
	<div class="whitediv">
		<div id="audio-custom">
			<button type="button" class="btn btn-default btn-audio">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button type="button" class="btn btn-default btn-audio">
				<span class="glyphicon glyphicon-pause"></span>
			</button>
			<button type="button" class="btn btn-default btn-audio">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button type="button" class="btn btn-default btn-audio">
				<span class="glyphicon glyphicon-stop"></span>
			</button>
			<button type="button" class="btn btn-default btn-audio">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
		</div>
	</div>

</body>

</html>

