<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HTML5音频可视化频谱跳动代码 - 站长素材</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h3>HTML5音频可视化频谱跳动代码</h3>
<canvas id='canvas' width="800" height="350"></canvas>
<br>
<br>

<audio controls="controls"  loop="loop" id="audiotest"><!--autoplay="autoplay" 就绪播放 -->
    audio element not supported
	<source src="/audio/au00.ogg" type="audio/ogg" /><source src="/audio/au00.mp3" type="audio/mpeg" />
</audio> 
<script src="main.js"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
</body>
</html>